body{
    background: #FF4E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F9D423, #FF4E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F9D423, #FF4E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#design > h1{
    font-family: 'Kaushan Script', cursive;
    color: #ffc34d;
    font-size: 90px !important;
}
#design{
    text-align: center;
    margin:100px auto 0 auto;
    text-transform: uppercase;
    width: 50%;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
    
}
.btn-primary{
    color: #fff !important;
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
    margin: 30px;
}

